<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
{% load staticfiles %}
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>运维服务器管理</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
</head>
<body>

<div id="container">
	<div class="shell">

		<!-- Main -->
		<div id="main">
			<div class="cl">&nbsp;</div>
			
			<!-- Content -->
			<div id="content">
				
				<!-- Box -->
				<div class="box">
					<!-- Box Head -->
					<div class="box-head">
						<h2 class="left">服务器列表</h2>
						<div class="right">
							<label>搜索</label>
							<input type="text" class="field small-field" />
							<input type="submit" class="button" value="search" />
						</div>
					</div>
					<!-- End Box Head -->	

					<!-- Table -->

					<div class="table"  >
						<table width="100%"   border="0" cellspacing="0" cellpadding="0" style="height: 300px" >
                           	<tr style="height: 10px">
								<th width="13"><input type="checkbox" class="checkbox" /></th>
								<th>IP</th>
								<th>添加时间</th>
								<th>添加人</th>
								<th width="110" class="ac">状态</th>
							</tr>


                            	<tr style="height: 10px">
								<td width="13"><input type="checkbox" class="checkbox" /></td>
								<td>172.17.17.221</td>
								<td>12.05.09</td>
								<td>Administrator</td>
								<td><a href="#" class="ico del">删除</a><a href="#" class="ico edit">修改</a></td>
							    </tr>

                            <tr style="height: 10px">
								<td width="13"><input type="checkbox" class="checkbox" /></td>
								<td>172.17.17.221</td>
								<td>12.05.09</td>
								<td>Administrator</td>
								<td><a href="#" class="ico del">删除</a><a href="#" class="ico edit">修改</a></td>
							 </tr>

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>



						</table>
						
						
						<!-- Pagging -->
						<div class="pagging">
							<div class="left">Showing 1-12 of 44</div>
							<div class="right">
								<a href="#">Previous</a>
								<a href="#">1</a>
								<a href="#">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#">245</a>
								<span>...</span>
								<a href="#">Next</a>
								<a href="#">View all</a>
							</div>
						</div>
						<!-- End Pagging -->
						
					</div>
					<!-- Table -->
					
				</div>
				<!-- End Box -->
				
				<!-- Box -->
				<div class="box">
					<!-- Box Head -->
					<div class="box-head">
						<h2>添加服务器</h2>
					</div>
					<!-- End Box Head -->

					<form method="post" action="/insert">
						<div class="form">
								<p>
									<span class="req">max 100 symbols</span>
									<label>服务器IP <span>(Required Field)</span></label>
									<input type="text" class="field size1" name="ipadress" />
								</p>	

								<p>
									<span class="req">max 100 symbols</span>
									<label>备注 <span>(Required Field)</span></label>
									<textarea class="field size1" rows="10" cols="30" required="required" name="msgbox"></textarea>
								</p>	
							
						</div>
						<!-- End Form -->
						
						<!-- Form Buttons -->
						<div class="buttons">
							<input type="button" class="button" value="查看" />
							<input type="submit" class="button" value="提交" />
						</div>
						<!-- End Form Buttons -->
					</form>
				</div>
				<!-- End Box -->

			</div>

		</div>
		<!-- Main -->
	</div>
</div>
</body>
</html>